.vagrant/
packer_cache/
output-virtualbox-iso/
/*.box
/*.iso
/*.tar.xz.hash.txt
*.tar.xz
.project
.pydevproject
/*.log*
vagrant-cloud-*
!vagrant-cloud-token.sh
build_number
build_version
build_time
/*.checksum
