.vagrant/
packer_cache/
/*.box
/*.iso
/*.tar.xz.hash.txt
*.tar.xz
.project
.pydevproject
/*.log*
vagrant-cloud-*
!vagrant-cloud-token.sh
output-virtualbox-iso/
build_number
build_version
build_time
/*.checksum
distfiles/
